#destination {
  background-color: #f2fefe;

  .destination-first-row {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    

    .headline-text {
      color: #29d9c2;
      font-size: 67px;
    }

    .helper-text {
      @extend .paragraph-text;
      color: #aeaeae;
    }
  }

  .destination-second-row {
    margin-bottom: 50px;
  }

  .destination-third-row {

    input {
      border-radius: 20px;
      border: 1px solid #e8e8e8;
      padding: 7px 11px;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      width: 235px;

      &::placeholder {
        color: #b5b5b5;
      }
    }

    .switcher {
      a {
        color: #aeaeae;

        &:hover {
          color: #777777;
        }
      }
    }
  }
}