#ittinery {

  .headline-text {
    color: #29d9c2;
    font-size: 67px;
    margin: 70px 0 50px;
  }

  .paragraph-text {
    line-height: 35px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 145px;
  }

  .ittinery-schedule {

    &__header {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      font-weight: 800;
      color: white;
      padding: 25px 0;
      background-image: url('../img/ittinery/ittinery-background.png');
      border-radius: 10px 10px 0 0;
    }

    &__calendar {
      height: 640px;
      background-color: #ffffa6;
      border-radius: 0 0 10px 10px;
      padding: 30px;

      .ittinery-list__place {
        border: 1px solid #e8e8e8;
        padding: 12px 20px;
        border-radius: 8px;
        margin-bottom: 15px;
        -webkit-box-shadow: 0px 1px 9px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 9px -6px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 9px -6px rgba(0,0,0,0.75);
      }
    }

    .ittinery-schedule__drag-label {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 800;
      color: #d8cb7d;
      padding: 25px;
      border-radius: 10px;
      background-color: #fbf6a3;
      border-style: dashed;
    }

    &__buttons {
      margin-top: 17px;
      margin-bottom: 100px;
      height: 64px;
    }

    &__pdf-button {
      @extend .button;
      background-color: #c3f37f;
      color: white;
      padding: 20px 18px;
      display: flex;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: #a2ee38;
      }

      img {
        margin-right: 15px;
        align-self: center;
      }
    }

    &__print-button {
      @extend .button;
      background-color: #3ddbc7;
      color: white;
      margin-left: 25px;
      padding: 20px 25px;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: #029e89;
      }

      img {
        margin-right: 15px;
        align-self: center;
      }

    }
  }

  .ittinery-list {

    &__header {
      @extend .ittinery-schedule__header;
      color: #3eddc2;
      background-image: none;
    }

    &__headline {
      background-image: linear-gradient(to right, #3eddc8, #3eddc8);
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 70px 3px;
      padding-bottom: 13px;
    }

    &__controls {
      margin-bottom: 100px;
      margin-left: 10px;
    }

    &__search-icon {
      align-self: center;
    }

    &__select-label {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #29d9c2;
      padding: 0;
    }

    &__place-select {
      border: none;
      color: #bcbcbc;
    }

    &__list-of-places {
      margin-left: 10px;
      height: 550px;
    }

    &__place {
      border: 1px solid #e8e8e8;
      padding: 12px 20px;
      border-radius: 8px;
      margin-bottom: 15px;
      -webkit-box-shadow: 0px 1px 9px -6px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 9px -6px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 9px -6px rgba(0,0,0,0.75);
      background-color: white;
      height: 83px;
    }

    &__place-name {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 24px;
      color: #626262;
    }

    &__time-label {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #cdcdcd;
    }

    &__estimated-time {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #23c6b6;
    }

    &__view-details {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #23c6b6;
    }
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  border: 1px solid #e8e8e8;
      padding: 12px 20px;
      border-radius: 8px;
      margin-bottom: 15px;
      -webkit-box-shadow: 0px 1px 9px -6px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 9px -6px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 9px -6px rgba(0,0,0,0.75);
      background-color: white;
      height: 83px;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

@media screen and (max-width: 1200px) {
  #ittinery .ittinery-schedule__calendar {
    height: auto;
  }
  #ittinery .ittinery-list__controls {
    margin-bottom: 10px;
  }

  #ittinery .ittinery-list__place {
    height: auto;
  }

  #ittinery .ittinery-list__place-name {
    font-size: 16px;
  }

  #ittinery .ittinery-schedule__buttons {
    margin-bottom: 40px;
  }

  #ittinery .ittinery-list__list-of-places {
    margin: 10px;
  }
}

@media screen and (max-width: 770px) {

  .set-ittinery {
    display: flex;
    flex-direction: column;
  }

}